<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codewithgolap.samadhan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/samadhan_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@drawable/samadhan_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".activities.FlowerIdentificationActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.SendPasswordActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.logins.ForgotPasswordActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity android:name=".bottomactivities.PostDetailsActivity" />
        <activity
            android:name=".activities.MainActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bottomactivities.CropDetectionActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".bottomactivities.TensorActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".bottomactivities.CultureActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".bottomactivities.DetailsActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".bottomactivities.CropsDetailsActivity"
            android:theme="@style/CropDetailsTheme" />
        <activity
            android:name=".bottomactivities.CommunityActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".bottomactivities.WeatherActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".bottomactivities.CropsActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.logins.RegistrationActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.LoadingActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.logins.LoginActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.FirstActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme" />

        <receiver android:name=".widgets.ExtensiveWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/extensive_widget" />
        </receiver>
        <receiver android:name=".widgets.TimeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget" />
        </receiver>
        <receiver android:name=".widgets.SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>

        <service
            android:name=".widgets.DashClockWeatherExtension"
            android:icon="@drawable/ic_cloud_white_24dp"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="settingsActivity"
                android:value=".ExampleSettingsActivity" />
        </service>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.GraphActivity"
            android:label="@string/action_graphs"
            android:parentActivityName=".activities.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".utils.StubContentProvider"
            android:authorities="com.codewithgolap.samadhan.authority"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codewithgolap.samadhan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>